body {
    font-family: Arial, sans-serif;
    margin: 2rem;
    background-color: #eee;
}
h1 {
    text-align: center;
    color: #333;
}
.rounds.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rounds {
    padding: 0 1rem;
    margin: 0 1rem;
}
h2 {
    color: #333;
    text-align: center;
}
p {
    line-height: 1.5;
    margin: 1rem 0;
    text-align: center;
}
.penalties {
    font-style: italic;
    color: #eead2d;
}
.loser {
    color: #a52a2a;
}
.winner {
    font-weight: bold;
    color: #2e8b57;
}
h3 {
    color: #713112;
    text-align: center;
}
.buttons p a {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #000;
    border-radius: 2rem;
    text-decoration: none;
    color: #000;
}
.buttons p a:hover {
    background-color: #333;
    color: #fff;
}